[[define "base"]]
<!doctype html>
<html lang="en">
<head>
    [[if .UseAnalytics]]
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WC9J4PW');</script>
    <!-- End Google Tag Manager -->
    [[end]]

    [[template "header" .]]

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-touch-icon.png">
    <link rel="shortcut icon" href="/static/assets/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon/site.webmanifest">

    [[template "css" .]]
</head>

<body>
    [[if .UseAnalytics]]
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC9J4PW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    [[end]]

    <div id="app">
        <v-app>
            <v-main>
                <v-container class="pa-0" fluid>
                    <v-row justify="center">
                        <v-col cols="10" id="mainContent" class="pa-0">
                            <landing-page-app-bar>
                            </landing-page-app-bar>

                            [[template "app" .]]

                            <landing-footer
                                :flaticon-authors="['xnimrodx']"
                            ></landing-footer>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    [[template "extra" .]]
    [[template "js" .]]
</body>
</html>
[[end]]
