[[define "header"]]
<title>Get Started with GRCHive</title>
[[end]]

[[define "app"]]
<getting-started-page>
</getting-started-page>
[[end]]

[[define "extra"]]
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>hbspt.forms.create({portalId: "7601735",formId: "605ac537-820d-45a0-b0e4-6b18e68860d6", target: "#hubspotForm"});</script>
[[end]]
