export VAULT_PROTOCOL=http
export VAULT_HOST=172.22.0.3
export VAULT_PORT=8200
export VAULT_USER_PASSWORD=password
export VAULT_APPROLE_ROLE_ID=abfbbc02-469d-662d-5197-9cb667c1d32e
export VAULT_APPROLE_SECRET_ID=fa3e79a7-ea7a-10c7-17e5-c9e15056541f

export FUSIONAUTH_USER_PASSWORD=password
export FUSIONAUTH_HOST=172.22.0.4
export FUSIONAUTH_PORT=9011
export FUSIONAUTH_CLIENT_ID=7e3c4a40-23c9-4f5b-8dc4-f56c33ad53a1
export FUSIONAUTH_EXTERNAL_HOST=http://172.22.0.4:9011
export FUSIONAUTH_API_KEY=zHKE7X6quUqUvMxlPBcXx29LL11LiUM5h2Gd2YA7PyM
export FUSIONAUTH_CLIENT_SECRET=Pqq5OjTSmD2hJkOtNXqEseQz0qgidNUC_x7Ucq6jXLo

export POSTGRES_HOST=172.22.0.2
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password
export POSTGRES_WEBAPP_USER=grchive
export POSTGRES_WEBAPP_PASSWORD=password
export POSTGRES_WEBAPP_DATABASE=grchive
export POSTGRES_WEBAPP_OPTIONS="?sslmode=disable&timezone=UTC"

export GRCHIVE_DOMAIN="http://localhost:8080"
export GRCHIVE_SESSION_AUTH_KEY="e2a8178edfd4188d598afd597f04d5328d6810f5fd1a4ebee5a2de56e25d43b7"
export GRCHIVE_SESSION_ENCRYPT_KEY="8060872952f5ba8fa45a6acafedc6983"

if [[ $PS1 != \[GRC\]* ]]; then
    export PS1="[GRC] $PS1"
fi
