export VAULT_PROTOCOL=http
export VAULT_HOST=172.22.0.3
export VAULT_PORT=8200
export VAULT_USER_PASSWORD=password
export VAULT_APPROLE_ROLE_ID=abfbbc02-469d-662d-5197-9cb667c1d32e
export VAULT_APPROLE_SECRET_ID=fa3e79a7-ea7a-10c7-17e5-c9e15056541f

export FUSIONAUTH_USER_PASSWORD=password
export FUSIONAUTH_HOST=172.22.0.4
export FUSIONAUTH_PORT=9011
export FUSIONAUTH_CLIENT_ID=7e3c4a40-23c9-4f5b-8dc4-f56c33ad53a1

export POSTGRES_HOST=172.22.0.2
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password

export GRCHIVE_DOMAIN="http://localhost:8080"

export PS1="[GRC] $PS1"
